<h1><%= t 'views.sessions.new.title' %></h1>
Jeśli nie masz jeszcze konta, możesz się <%= link_to "zarejestrować", new_user_path %>.
Jeśli masz, zaloguj się:
<%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
		<%= f.label :name, class: "control-label" %>
		<%= f.text_field :name %>
	</div>
    <div class="field">
		<%= f.label :password, class: "control-label" %>
		<%= f.password_field :password %>
	</div>
    <div class="actions">
		<%= f.submit I18n.t 'views.sessions.new.submit_button' %>
	</div>
<% end %>
<%= link_to "Nie pamiętasz hasła?", password_reset_path %>
