<% if bet.visible? && !bet.closed? %>
	<span class="admin_button">
 		<%= link_to "Rozlicz", end_path(@bet) %>
 	</span>
    <span class="admin_button">
        <%= link_to "Zbanuj (usuń)", ban_path(@bet) %>
    </span>        
<% end %>
<% if bet.created? %>
    <span class="admin_button">
	   <%= link_to "Zatwierdź", publish_path(@bet) %>
    </span>
    <span class="admin_button">
        <%= link_to "Odrzuć", reject_path(@bet) %>
    </span> 
<% end %>
<% if bet.banned? || bet.closed? %>
    <span class="admin_button">
        <%= link_to "Usuń z bazy", @bet, method: "delete" %>
    </span> 
<% end %>
<br />

<% if bet.closed? %>
	Zamknięty
<% else %>
	Nie zamknięty
<% end %>
<br />
<% if bet.banned? %>
	Zbanowany
<% else %>
	Nie zbanowany
<% end %>