<% if bet.visible? && !bet.closed? %>
	<span class="admin_button">
 		<%= link_to I18n.t('views.bets.show.settle_link'), end_path(@bet) %>
 	</span>
    <span class="admin_button">
        <%= link_to I18n.t('views.bets.show.ban_link'), ban_path(@bet) %>
    </span>        
<% end %>
<% if bet.created? %>
    <span class="admin_button">
	   <%= link_to I18n.t('views.bets.show.publish_link'), publish_path(@bet) %>
    </span>
    <span class="admin_button">
        <%= link_to I18n.t('views.bets.show.reject_link'), reject_path(@bet) %>
    </span> 
<% end %>
<% if bet.banned? || bet.closed? %>
    <span class="admin_button">
        <%= link_to "Usuń z bazy", @bet, method: "delete" %>
    </span> 
<% end %>
<br />

<% if bet.closed? %>
	Zamknięty
<% else %>
	Nie zamknięty
<% end %>
<br />
<% if bet.banned? %>
	Zbanowany
<% else %>
	Nie zbanowany
<% end %>