<div class="my_bets_list">
<% if operations.any? %>    
    <% operations.each do |op| %>
        <div class="my_bet">
            <%= op.created_at %> <span class="operation_amount <%= op.operation_type %>"><%= view_as_btc(op.amount, 5) %> BTC</span>
            <% if op.operation_type %>
                <%= Operation.types[op.operation_type] %> 
                <% if op.bet_id %>
                    <%= link_to "Zdarzenie: #{op.bet.name[0..30]})", bet_path(op.bet_id) %>
                <% else %>
                    <span class="operation_desc">ID: <%= op.txid %></span>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% else %>
    <div class="my_bet"><%= no_items_message %></div>
<% end %>
</div>