<% provide(:aside, 'new') %>
<h1><%= t 'views.bets.new.title' %></h1>
<%= form_for @bet do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :text %>
		<%= f.text_area :text %>
	</div>
	<div class="field">
		<%= f.label :category_id %>
		<%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "-- wybierz --" %>
	</div>
	<div class="field">
		<%= f.label :deadline %>
		<%= f.text_field :deadline, class: "datepick" %>
	</div>
	<div class="field">
		<%= f.label :event_at %>
		<%= f.text_field :event_at, class: "datepick" %>
	</div>
	<div class="actions">
		<%= f.submit t 'views.bets.new.submit_button', class: "btn btn-primary" %>
	</div>
<% end %>