<h1><%= t 'views.users.new.title' %></h1>
<%= form_for @user do |f| %>
	<%= render 'shared/error_messages', :object => @user %>
	<div class="field">
		<%= f.label :name, class: "control-label" %>
		<%= f.text_field :name %>
		<div id="name_available"></div>
	</div>
	<div class="field">
		<%= f.label :email, class: "control-label" %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password, class: "control-label" %>
		<%= f.password_field :password %> 
	</div>
	<div class="field">
		<%= f.label :password_confirmation, class: "control-label" %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.label :ref_id, class: "control-label" %>
		<%= f.text_field :ref_id %>
	</div>
    <div class="actions">
		<%= f.submit I18n.t 'views.users.new.submit_button' %>
	</div>
<% end %>