<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title"><%= link_to "BitBet.tk", root_path %></h1>
        
        <% if signed_in? %>
            <div class="logininfo">
			    <%= current_user.name %>
			    (<%= view_as_btc(current_user.available_funds, 5) %> BTC) 
			    <% if current_user.admin? %>
			     	<%= link_to "admin", admin_path %>
			    <% end %>
			    <%= link_to link_to I18n.t('views.layout.header.logout_link'), logout_path, method: "delete" %>
			</div>
        <% end %>
        <div class="clear"></div>
        <nav>
            <ul>
			    <li><%= link_to "Główna", root_path %></li>
			    <li><%= link_to "Zdarzenia", bets_path %></li>
			    <li><%= link_to "Utwórz", new_bet_path %></li>
			    <% if signed_in? %>
			        <li>
			            <%= link_to "Profil", user_path(current_user) %>
			        </li>
			    <% else %>
			        <li>
			            <%= link_to "Zaloguj", login_path %>
			        </li>
			        <li>
			            <%= link_to "Rejestracja", new_user_path %>
			        </li>
			    <% end %>
			</ul>
        </nav>
    </header>
</div>
